* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0;
}

.header-description {
    padding-left: 180px;

}

.title-container {
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1500px;
    height: 750px;
}

#Banner-pic {
    height: 705px;
    padding-top: 50px;
}

.title {
    color: #272727;
    width: 708px;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 30px;
}

.description {
    padding-bottom: 30px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 300;
}

.banner-description {
    padding-left: 200px;
}

.btn {
    padding: 15px 30px;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    border: 0;
    border-radius: 8px;
}

.featured-section {
    text-align: center;
}

.featured-title {
    color: rgba(39, 39, 39, 1);
    font-size: 30px;
    font-weight: 700;
    padding-top: 150px;
    padding-bottom: 20px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 40px;
}

.featured-items {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 190px;
    gap: 15px;
}

.first-item {
    width: 364px;
    height: 438px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}

#first-fpic {
    height: 300px;
    padding-top: 138px;
}

.second-item {
    width: 364px;
    height: 438px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}

#second-fpic {
    height: 300px;
    padding-top: 138px;
}

.third-item {
    width: 364px;
    height: 438px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

#third-fpic {
    height: 300px;
    padding-top: 138px;
}

.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1500px;
    height: 450px;
    margin-top: 120px;
}

.hot-title {
    color: rgba(39, 39, 39, 1);
    font-size: 30px;
    font-weight: 700;
    padding-top: 150px;
    padding-bottom: 20px;
}

.hot-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
}

.deal-container {
    padding-left: 70px;
}

.hot-deal-pic {
    padding-right: 100px;
}

.social {
    text-align: center;
    padding-top: 120px;
}

.social-title {

    color: rgba(39, 39, 39, 1);
    font-size: 30px;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 20px;
}

.social-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
}

.social-pic {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.first-social-pic {
    width: 272px;
    height: 300px;
}

.second-social-pic {
    width: 272px;
    height: 300px;
}

.third-social-pic {
    width: 272px;
    height: 300px;
}

.fourth-social-pic {
    width: 272px;
    height: 300px;
}